* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, "PingFang SC", "Microsoft Yahei", sans-serif;
}

header {
  width: 100vw;
  height: 100vh;
}

.slides img,
.slides video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
