html,
body {
  margin: 0;
  font-family: "PingFang SC", "Microsoft Yahei", sans-serif;
}

* {
  box-sizing: border-box;
}

ul,
li {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 100vh;
  width: 100vw;
  padding: 5vmin;
  background: #2a1c3a; /* fallback for old browsers */
  background: linear-gradient(135deg, #292929, #000000);
}

.container {
  background-color: rgba(54, 54, 54, 0.4);
  border-radius: 8px;
  padding: 48px;
}

.container h1 {
  color: #ffffff;
  margin-bottom: 36px;
}

.list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 36px;
  column-gap: 24px;
}

.list li {
  background: linear-gradient(135deg, #0061ff, #ff00f2);
  border-radius: 6px;
}

.list li a {
  display: block;
  color: #ffffff;
  text-shadow: 0 0 2px rgba(180, 124, 117, 0.4);
  text-decoration: none;
  text-align: left;
  font-size: 18px;
  padding: 18px 24px;
  text-align: center;
  margin: 2px;
  background-color: rgb(24, 24, 24);
  border-radius: 6px;
  width: 265px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media screen and (max-width: 1260px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 976px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 670px) {
  .list {
    grid-template-columns: repeat(1, 1fr);
  }
}
