html,
body {
  margin: 0;
  font-family: "PingFang SC", "Microsoft Yahei", sans-serif;
}

* {
  box-sizing: border-box;
}

ul,
li {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

main {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  min-height: 100vh;
  width: 100vw;
  padding: 5vmin;
  background: #2a1c3a; /* fallback for old browsers */
  background: linear-gradient(to right, #2a1c3a, #2d2a4a);
}

.card {
  border-radius: 12px;
  width: 350px;
  margin: 18px;
  padding: 18px 36px;
  box-shadow: 0 0 24px rgba(15, 6, 60, 0.88);
  background: rgb(65, 61, 97);
}

ul li {
  margin: 18px 0;
}

li a {
  display: block;
  color: #d8d1ff;
  text-shadow: 0 0 2px rgba(180, 124, 117, 0.4);
  text-decoration: none;
  text-align: left;
  font-size: 18px;
  padding: 8px 24px;
  border-radius: 6px;
  background: #efefef0f;
}

@media screen and (max-width: 860px) {
  main {
    padding: 2vmin;
    justify-content: center;
  }
  .card {
    /* width: 350px; */
    padding: 2rem;
    margin: 1rem;
  }
  li a {
    padding: 1rem;
  }
}
